#### 1. Take values of length and breadth of a rectangle from the user and check if it is square or not. Return area of the rectangle.
 
Input: 5, 5

Output: (25, True)

In [2]:
# don't change any function name write you all code inside the function only for every question solution and return you output as mentioned in problem statement.


def question_first_solution(length, breadth):
    if length == breadth:
        check = True
    else:
        check = False
    area = length * breadth
    
    return(area ,check)

#### 2. Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn.

Input: 5

Output: 615

In [4]:
def question_second_solution(nums):
    return nums + ((nums * 10) + nums)+ ((nums * 100)+(nums * 10) + nums)

615

#### 3. A company decided to deduct pf of 12% of salary if the year of service is less than 5 years and 24% employee if his/her year of service is more than 5 years.

Input: 25000, 5

Output: 22000.0

In [4]:
def question_third_solution(sal, noy):
    if noy <= 5:
        sal -= float(sal*0.12)
        return(sal)
    elif noy > 5:
        sal -= float(sal*0.24)
        return(sal)
    else:
        return(sal)

#### 4. A school has following rules for grading system:

a. Below 40 - F

b. 40 to 50 - C

c. 50 to 60 - C+

d. 60 to 70 - B

e. 70 to 80 - B+

f. 80 to 90 - A

g. Above 90 - A+

Enter marks for their 5 main subjects and print the corresponding grade and overall grade for an average of marks.
 
Input: 50,96,85,65,95

Output: ('B+',78.2)

In [1]:
def question_fourth_solution(a,b,c,d,e):
    avg = (a+b+c+d+e)/5
    if avg < 40:
        return(""'F'"",avg)
    elif avg >= 40 and avg <= 50:
        return(""'C'"",avg)
    elif avg >= 50 and avg <= 60:
        return(""'C+'"",avg)
    elif avg >= 60 and avg <= 70:
        return(""'B'"",avg)
    elif avg >= 70 and avg <= 80:
        return(""'B+'"",avg)
    elif avg >= 80 and avg <= 90:
        return(""'A'"",avg)
    else:
        return(""'A'"",avg)

('B+', 78.2)

#### 5. A student will not be allowed to sit in the exam if his/her attendance is less than 75%.

Enter the number of classes held Number of classes attended. And the print percentage of class attended Is the student is allowed to sit in the exam or not.

Input: 248,189

Output: ('76.21', True)

In [6]:
def question_fifth_solution(noc,n):
    per = n / noc * 100
    attendance = format(per,'.2f')
    if per < 75:
        check = False
    else:
        check = True
   
    return(attendance, check)

#### 6. Write a program to check if a year is a leap year or not.
If a year is divisible by 4 then it is a leap year but if the year is century year like 2000, 1900, 2100 then it must be divisible by 400.
 
Input: 2020

Output: True

In [7]:
def question_sixth_solution(year):
    if (year % 4) == 0: 
        if (year % 100) == 0: 
            if (year % 400) == 0: 
                return True
            else: 
                return False
        else: 
             return True
    else: 
        return False

### 7.  Enter age, gender ( M or F ), marital status ( Y or N ) and then using the following rules print their place of service.
    if an employee is female, then she will work only in urban areas.
    if an employee is a male and age is between 20 to 30 and not married then he may work anywhere.
    if an employee is a female and age is between 20 to 30 and not married then she may work in urban areas.
    if an employee is male and age is between 20 t0 30 and married then he will work in nearby Hometown.
    if an employee is female and age is between 20 t0 30 and married then she will work in her husband's city.
    And any other input of age should print "ERROR".
 
Input: 25, "F", "Y"

Output: "You will work in your husband's city."

In [8]:
def question_seventh_solution(age, gen , mar_status):
    if gen == "F" and age == 0 and mar_status == " ":
        return("she will work only in urban areas")
    if gen == "M" and age >=20 and age <=30 and mar_status == "N":
        return("You may work anywhere.")
    elif gen == "F" and age >=20 and age <=30 and mar_status == "N":
        return("You may work in urban areas.")
    if gen == "M" and age >=20 and age <=30 and mar_status == "Y":
        return("You will work nearby hometown.")
    elif gen == "F" and age >=20 and age <=30 and mar_status == "Y":
        return("You will work in your husband's city.")
    else:
        return("ERROR")

#### 8. Write a python program to find a type of triangle by it dimensions.
Input: 5, 6, 5

Output: "Isosceles"

In [1]:
def question_eighth_solution(x,y,z):
    if x == y == z:
        return("Equilateral")
    elif x==y or y==z or z==x:
        return("Isosceles")
    else:
        return("Obtuse")

#### 9. A shop will give a discount of 10% max upto 150rs if the cost of the purchased quantity is more than 1000.
Enter quantity Suppose, one unit will cost 100rs. Judge and print total cost for the customer.
 
Input: 15

Output: 1350.0

In [5]:
def question_ninth_solution(n):
    if n*100 > 1000:
        return((n*100)-(.1*n*100)) 
    else:
        return(n*100)

1350.0

#### 10. Write a Python program to calculate the number of days between two dates
 
Input: '25/01/2020', '26/01/2020'

Output: '1 days 0 months 0 years'

In [1]:
def question_tenth_solution(a,b):
    a = list(map(int,a.split("/")))
    b = list(map(int,b.split("/")))
    days = b[0] - a[0]
    if days < 0:
        days += 30
        b[1] -= 1
    months = b[1] - a[1]
    if months < 0:
        months +=12
        b[2] -= 1
    years = b[2] - a[2]
    
    return (f'{days} days {months} months {years} years')

'1 days 0 months 0 years'